<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cabana Store</title>
</head>
<body>
    <section id="navbar">
        <div class="logo"></div>
        <div class="itens">
            <a href="#">Inicio</a>
            <a href="#">Promoções</a>
            <a href="#">Todos os produtos</a>
        </div>
        <div class="login">
            <a href="#">Registrar-se</a>
            <a href="#">Entrar</a>
        </div>
        <div class="carrinho"></div>
    </section>
    <section id="page_body">
        <div class="home_baner">
            <h1>Carrosel</h1>
        </div>
        <div class="centralText">
            <h1>{{ title }}</h1>
            <h2>{{ content }}</h2>
            <h2>tudo está funcionando</h2>
        </div>
    </section>
</body>
</html>