<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Fira+Sans:wght@100;200;400&family=Inika:wght@400;700&family=Oswald:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Cabana Store</title>
</head>
<body>
    <section id="navbar">
        <div class="logo"></div>
        <div class="itens">
            <a href="#">Inicio</a>
            <a href="#">Promoções</a>
            <a href="#">Todos os produtos</a>
        </div>
        <div class="login">
            <a href="#">Registrar-se</a>
            <a href="#">Entrar</a>
        </div>s
        <div class="carrinho"></div>
    </section>
    <section id="page_body">
        <div class="home_baner">
        </div>
        <div class="centralText">
            <h1>{{ title }}</h1>
            <h2>{{ content }}</h2>
            <h2>tudo está funcionando</h2>
        </div>
        <h1 class="colection">Lançamentos</h1>
        <div class="product_container">
            <div class="product_box">
                <img src="img/oldPhone.jpeg" alt="Produto" class="product_img">
                <hr color="black" width="100%">
                <br>
                <h3>Motorola</h3>
                <h1>Celular Tijolão</h1>
                <h2>R$350,00</h2>
                <h4>info</h4>
            </div>
            <div class="product_box">
                <img src="img/relogio" alt="Produto" class="product_img">
                <br><br><br><br>
                <hr color="black" width="100%">
                <br>
                <h3>Invicta</h3>
                <h1>Relogio Cravejado</h1>
                <h2>R$2000,000</h2>
                <h4>info</h4>
            </div>
            <div class="product_box">
                <img src="#" alt="Produto" class="product_img">
                <h3>fornecedor</h3>
                <h1>Titulo</h1>
                <h2>preço</h2>
                <h4>info</h4>
            </div>
            <div class="product_box">
                <img src="#" alt="Produto" class="product_img">
                <h3>fornecedor</h3>
                <h1>Titulo</h1>
                <h2>preço</h2>
                <h4>info</h4>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>