*{
    font-family: 'Inika', sans-serif;
    padding: 0;
    margin: 0;
}
:root{
    --main_color:#0C356A;
    --secondary_color:#F7CA44;
}
#navbar{
    background-color: var(--main_color);
    display: flex;
    font-size: 1.5rem;  
    height: 40px;
}
#navbar .itens{
    padding-left: 120px;
    padding-top: 7px;
}
#navbar .itens a{
    padding: 150px;
    padding-top: 20px;
    text-decoration: none;
    color: var(--secondary_color);
}
#page_body .home_baner{
    background-image: url(img/homeBanner);
    background-size: auto;
    height:800px;
    margin-left: 7%;
    margin-right: 7%;

}
#page_body .centralText{
    text-align: center;
    margin-top: 100px;
}
.product_container{
    height: 500px;
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    gap: 5%;
}
.product_container .product_box{
    background-color: whitesmoke;
    border: solid 2px var(--main_color);
    border-radius: 5%;
}

.product_box .product_img{
    width: 270px;
    margin-left: 12%;
    margin-top: 8%;
}
.colection{
    margin-left: 12%;
}
.product_box h1{
    margin-left: 12%;
}
.product_box h2{
    margin-left: 12%;
}
.product_box h3{
    margin-left: 12%;
}
.product_box h4{
    margin-left: 12%;
}

/* 
To Do List:
1- Alterar a fonte do Site (V)
2- Arrumar Imagens de alguns produtos
3- Carrosel com 3 produtos
4- Ícones 






*/